@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

$xsmall: 0px;
$small: 600px;
$medium: 900px;
$large: 2000px;

@mixin screen-size($min, $max) {
  @media only screen and (min-width: ($min + 1px)) and (max-width: $max) 
  {
      @content;
  }
}

