@use "../partials/palette";
@use "../partials/typography";
@use "../partials/mixins";

.About {
@include mixins.flex;
@include mixins.screen-size(mixins.$small, mixins.$medium)
{
 flex-direction: column;
 align-items: center;
}
&__img {
  height: 100%;
  width: 100%;
}

@include mixins.screen-size(mixins.$xsmall, mixins.$small)
{
 flex-direction: column;
}
}