@use "../partials/palette";
@use "../partials/typography";
@use "../partials/mixins";

.Contact {
  
  @include mixins.flex;
  border: 2px solid palette.$secondary-color;
  &__link {
    text-decoration: none;
    color: palette.$primary-color;
  }

  @include mixins.screen-size(mixins.$xsmall, mixins.$small)
  {
   flex-direction: column;
  }

  @include mixins.screen-size(mixins.$small, mixins.$medium)
  {
  flex-direction: column;
  }

  @include mixins.screen-size(mixins.$medium, mixins.$large)
  {
  flex-direction: row;
  }
  }