@use "../partials/palette";
@use "../partials/typography";
@use "../partials/mixins";

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px;
  margin: 100px;

  &__title {
    color: palette.$primary-color;
    font-family: typography.$primary-font;
  }
  &__subtitle {
    color: palette.$secondary-color;
    font-family: typography.$primary-font;
  }
}