@use "../partials/palette";
@use "../partials/typography";

.Home {
@include mixins.flex;

  &__title {
    color: palette.$primary-color;
    font-family: typography.$primary-font;
  }
  &__subtitle {
    color: palette.$secondary-color;
    font-family: typography.$primary-font;
  }
}