@use "../partials/palette";
@use "../partials/typography";
@use "../partials/mixins";


.Projects {
@include mixins.flex;
@include mixins.screen-size(mixins.$small, mixins.$medium)
{
 flex-direction: column;
}
  &__Set {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }
  
  &__title {
    color: palette.$secondary-color;
  }

  @include mixins.screen-size(mixins.$xsmall, mixins.$small)
  {
   flex-direction: column;
  }
}