@use "../partials/palette";
@use "../partials/typography";
@use "../partials/mixins";


.Projects {
@include mixins.flex;

  &__Set {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }
  
  &__title {
    color: palette.$secondary-color;
  }
}