@use "./partials/palette";
@use "./partials/typography";
@use "./modules/home.scss";
@use "./modules/skills.scss";
@use "./modules/projects.scss";
@use "./modules/about.scss";
@use "./modules/navigation.scss";
@use "./partials/mixins";

* {
  margin: 0px;
  border: 0px;
}

body {
  background-color: rgb(191, 247, 247);
}

h2 {
  color: palette.$secondary-color;
  font-family: typography.$primary-font; 
}

p {
  color: palette.$primary-color;
  font-family: typography.$primary-font;
 }

.Contact {
border: 2px solid black;
}
