* {
  margin: 0px;
  border: 0px;
}

$primaryColor: rgb(235, 88, 169);
$secondaryColor: rgb(173, 16, 173);
$primaryFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

body {
  background-color: rgb(191, 247, 247);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
  padding: 20px;
}

a {
  color: $primaryColor;
  text-decoration: none;
}

a:hover {
  color: $secondaryColor;
}

h1 {
  color: $primaryColor;
  font-family: $primaryFont;
  font-weight: bolder;
}

h2 {
  color: $primaryColor;
  font-family: $primaryFont;
  font-weight: bolder;
}

p {
  color: $primaryColor;
  font-family: $primaryFont;
 }

  .Home {
padding: 100px;
margin: 100px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}

.Skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px;
  margin: 60px;
}

.Projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px;
  margin: 60px;
}

.About {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 60px;
  margin: 60px;
}

