.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px;
  margin: 100px;
}
.Home__title {
  color: rgb(248, 168, 181);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.Home__subtitle {
  color: hotpink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.Skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.Projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}
.Projects__Set {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
.Projects__title {
  color: hotpink;
}

.About {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
}
.navigation__link {
  color: rgb(248, 168, 181);
  text-decoration: none;
}
.navigation__link__link:hover {
  color: hotpink;
}

.Contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}
.Contact__link {
  text-decoration: none;
}

* {
  margin: 0px;
  border: 0px;
}

body {
  background-color: rgb(145, 238, 230);
}

h2 {
  color: hotpink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 60px;
}

p {
  color: rgb(248, 168, 181);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
